<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
      <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
      >
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/items">Items</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/items/add">Add Item</a>
      </li>
</ul>
              <ul class="navbar-nav">
        {{#if user}}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
            >
              Hi {{ user.firstName }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/users/logout">Logout</a></li>
            </ul>
          </li>
        {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/users/login">Login</a>
          </li>
        {{/if}}
      </ul>
      </ul>
    </div>
</nav>