<h1>{{title}}</h1>
{{# if (isdefined message)}}
<div class="alert alert-danger mt-3 mb-3" role="alert">
    {{message}}
</div>
{{/if}}
<form action="/users/login" method="POST">
<label for="inputUsername" class="form-label">Username</label>
<input type="text" id="inputUsername" class="form-control mb-3" name="username" required="true">
<label for="inputPassword5" class="form-label">Password</label>
<input type="password" id="inputPassword5" class="form-control mb-3" name="password" required="true">
  <button type="submit" class="btn btn-primary">Submit</button>
</form>